:root {
  --app-background: #e0e4f5;
  --header-background: #333;
  --btn: #1D58FE;
  --upgrades-border: #d6daeb;
  --upgrades-item: #d2d6e7;
  --shop-background: #3D3D3D;
  --purple: #503eb9;
  --darkGrey: rgb(37, 37, 37);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.html, body {
  height: 100%;
}

:focus {
  outline: none;
}

.btn {
  padding: 5px 15px;
  border-radius: 5px;
  color: #ffffff;
}

.App {
  height: 100vh;
  font-family: sans-serif;
  background-color: var(--app-background);
  overflow: auto;
}

/* HEADER SECTION */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-color: var(--header-background);
  padding: .5rem 1.5rem;
  height: 140px;
}

.reset-btn {
  font-size: 22px;
  border: 2px solid var(--btn);
  background-color: var(--btn);
  cursor: pointer;
  padding: 12px 15px;
}

.reset-btn:hover {
  background-color: transparent;
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter-container > * {
  margin: .5rem 0;
}

.main-title {
  color: #ffffff;
  font-size: 36px;
}

.counter-btn {
  border: transparent;
  background-color: var(--btn);
  font-size: 35px;
}

.increment-container {
  color: #ffffff;
}

.increment {
  display: flex;
  align-items: center;
  border: 1px solid var(--darkGrey);
  border-radius: 5px;
  padding: .5rem;
  margin: .5rem 0;
  cursor: default;
}

.normal-increment {
  background-color: var(--darkGrey);
}

.increment > h3 {
  margin-right: .35rem;
  font-size: 20px;
}

.increment > p {
  font-size: 22px;
}

/* SHOP SECTION */
.shop-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  border-top: 4px solid var(--upgrades-border);
}

.shop-container > * {
  margin: .5rem 0;
}

.shop-inner-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  text-align: left;
  font-size: 22px;
  width: 100%;
}

.shop-upgrade {
  display: flex;
  margin: .25rem .5rem;
  padding: .5rem;
  border-radius: 15px;
  background-color: var(--upgrades-item);
  cursor: pointer;
  z-index: 3;
  flex-shrink: 2;
}

.shop-upgrade-0 {
  border: 2px solid brown;
}

.shop-upgrade-1 {
  border: 2px solid green;
}

.shop-upgrade-2 {
  border: 2px solid gold;
}

.shop-upgrade-3 {
  border: 2px solid rgb(54, 94, 153);
}

.shop-upgrade-4 {
  border: 2px solid var(--purple);
}

.shop-upgrade-5 {
  border: 2px solid black;
}

.shop-upgrade > h4 {
  margin-right: .25rem;
}

/* CLICKER SECTION */
.clicker-container {
  padding: 2rem 0;
}

.position-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 300px;
  width: 350px;
  background-color: #333;
  border-radius: 15px;
  padding: 1.5rem;
}

.clicker-image {
  height: 100%;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.bitten-hidden {
  position: absolute;
  font-size: 38px;
  color: #d42f2f;
  opacity: 0;
  pointer-events: none;
}

.bitten-show {
  opacity: 1;
  transition: opacity 3s;
  pointer-events: none;
}

@media only screen and (max-width: 1200px) {
  .increment-container {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .header {
    display: flex;
    justify-content: space-around;
  }

  .reset-container {
    position: static;
  }
}
